    @model IEnumerable<NetTechnology_Final.Models.Accounts>

@{
    ViewData["Title"] = "View";
}

<link rel="stylesheet" href="~/css/generalize.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/background.css" asp-append-version="true" />

<h1>View</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a> 
</p>
<table class="table table-responsive">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreateDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                    @if(item.Role == Role.Salesperson)
                    {
                        <span>Sale Person</span>
                    }
                    else if (item.Role == Role.Admin)
                    {
                        <span>Administrator</span>
                    }
                    else
                    {
                        <span>Customer</span>
                    }
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateDate)
            </td>
            <td>
                    @if (User.Identity.Name == item.Name)
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span>|</span>
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    }
                    else{
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>
                        <span>|</span>

                        <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                        <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a>                       
                     }
                       
            </td>
        </tr>
}
    </tbody>
</table>