@model dynamic

<link rel="stylesheet" href="~/css/generalize.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/background.css" asp-append-version="true" />

<div class="page-container">

    <!-- Phần bên trái - Product List -->
    <div class="left-section custom-container">
        @if (ViewBag.Products != null)
        {
            <table class="table  table-responsive">
                <thead class="thead-dark">
                    <tr>
                        <th>Name Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Quantity in stock</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var order in ViewBag.Products)
                    {
                        <tr>
                            <td>@order.ProductName</td>
                            <td>@order.RetailPrice.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) VND</td>
                            <td>
                                <form id="orderForm" method="post" asp-controller="Orders" asp-action="addDetail">
                                    <div class="quantity-controls d-flex justify-content-center">
                                        <input type="hidden" name="ProductName" value="@order.ProductName" />
                                        <input type="hidden" name="RetailPrice" value="@order.RetailPrice" />
                                        <input type="number" class="quantity-input form-control" value="1" min="1" name="Quantities" />
                                        <button class="quantity-control-btn btn btn-outline-secondary" data-action="decrease" type="button">-</button>
                                        <button class="quantity-control-btn btn btn-outline-secondary" data-action="increase" type="button">+</button>
                                        <button class="quantity-control-btn btn btn-success" data-action="add" type="submit">Add</button>
                                    </div>
                                </form>
                            </td>
                            <td>@order.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
            }
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var quantityControls = document.querySelectorAll('.quantity-controls');
                    var hiddenQuantitiesInput = document.getElementById('hiddenQuantities');

                    quantityControls.forEach(function (controls, index) {
                        var input = controls.querySelector('.quantity-input');
                        var decreaseBtn = controls.querySelector('[data-action="decrease"]');
                        var increaseBtn = controls.querySelector('[data-action="increase"]');

                        decreaseBtn.addEventListener('click', function () {
                            var currentValue = parseInt(input.value, 10);
                            if (currentValue > 1) {
                                input.value = currentValue - 1;
                                hiddenQuantitiesInput.value = input.value; 
                            }
                        });

                        increaseBtn.addEventListener('click', function () {
                            var currentValue = parseInt(input.value, 10);
                            input.value = currentValue + 1;
                            hiddenQuantitiesInput.value = input.value; 
                        });
                    });
                });
            </script>
        
    </div>

    <!-- Phần giữa - Barcode Input và Product Listing -->
    <div class="middle-section custom-container">
        <form method="post" asp-controller="Orders" asp-action="FindProducts">
            <input type="text" placeholder="Barcode" name="Barcode" />
            <button class="btn btn-primary" type="submit">Find Products</button>
            <span class="text-danger">@Html.ValidationMessage("Barcode")</span>
        </form>

        @if (ViewBag.OrderDetails != null)
        {
            <table class="table table-responsive">
                <thead class="thead-light">
                    <tr>
                        <th>Barcode</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                        <th>Unit Price</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="orderDetailsBody">
                    @foreach (var order in ViewBag.OrderDetails)
                    {
                        <tr>
                            <td>@(order.Products?.Barcode ?? "N/A")</td>
                            <td>@(order.Products?.ProductName ?? "N/A")</td>
                            <td>
                                <form method="post" asp-controller="Orders" asp-action="Minus">
                                    <input type="hidden" name="Barcode" value="@order.Products.Barcode" />
                                    <button type="submit">-</button>
                                </form>
                            </td>
                            <td>@order.Quantity</td>
                            <td>
                                <form method="post" asp-controller="Orders" asp-action="Plus">
                                    <input type="hidden" name="Barcode" value="@order.Products.Barcode" />
                                    <button type="submit">+</button>
                                </form>
                            </td>
                            <td>@order.UnitPrice.ToString("N0", System.Globalization.CultureInfo.GetCultureInfo("vi-VN")) VND</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div style="float: right;">
                <div>Total Amount:  <strong id="totalAmount">0 VND</strong></div>
            </div>


            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var rows = document.querySelectorAll("#orderDetailsBody tr");
                    var totalAmount = 0;

                    rows.forEach(function (row) {
                        var unitPrice = parseFloat(row.cells[5].textContent.replace(" VND", "").replace(/\./g, "").replace(",", "."));
                        totalAmount += unitPrice;
                    });

                    var totalAmountCell = document.getElementById("totalAmount");
                    totalAmountCell.textContent = formatCurrency(totalAmount);

                    // Update the hidden input for TotalAmount
                    var hiddenTotalAmountInput = document.getElementById("hiddenTotalAmount");
                    hiddenTotalAmountInput.value = totalAmount;

                    function formatCurrency(amount) {
                        var formattedAmount = amount.toLocaleString("vi-VN", { style: 'currency', currency: 'VND' });
                        return formattedAmount.replace(/\.00$/, '');
                    }
                });
            </script>

        }
        else
        {
            <p>No order details available.</p>
        }

    </div>
    <!-- Phần bên phải - Customer Details và Orders -->
    <div class="right-section custom-container">
    <form id="customerForm" method="post" asp-controller="Orders" asp-action="Index">
        <input type="text" id="phoneInput" placeholder="Phone Number" name="Phone" />
            <button class="btn btn-primary" type="submit">Find Customer</button>
        <span class="text-danger">@Html.ValidationMessage("Phone")</span>
    </form>

    @if (ViewBag.CustomerNotFound != null && (bool)ViewBag.CustomerNotFound)
    {
        <form id="newCustomerForm" method="post" asp-controller="Orders" asp-action="Create">
            <input type="text" id="newPhoneInput" placeholder="Phone Number" name="Phone" value="@ViewBag.Phone" />
            <input type="text" id="newAddressInput" placeholder="Address" name="Address" />
            <input type="text" id="newNameInput" placeholder="Full Name" name="Name" />
            <button class="btn btn-primary" type="submit" onclick="saveNewCustomer()">Save Customer</button>
        </form>
    }
    else if (ViewBag.Customer != null)
    {
        <div class="customer-info">
            <div class="row">
                <div class="col">
                    <h3>Customer Information</h3>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>Phone: <span id="customerPhone">@ViewBag.Customer.Phone</span></p>
                    <p>Name: <span id="customerName">@ViewBag.Customer.Name</span></p>
                    <p>Address: <span id="customerAddress">@ViewBag.Customer.Address</span></p>
                </div>
            </div>
        </div>

            <table class="table table-responsive">
            <thead class="thead-light">
                <tr>
                    <th>Customer</th>
                    <th>Saler</th>
                    <th>Quantity</th>
                    <th>Unit Price</th>
                    <th>OrderDate</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in ViewBag.Orders)
                {
                    <tr>
                        <td>@order.Customer.Name</td>
                        <td>@order.AccountId</td>
                        <td>@order.Quantity</td>
                        <td>@order.UnitPrice</td>
                        <td>@order.OrderDate</td>
                    </tr>
                }
            </tbody>
        </table>
    }
        </div>

    </div>

<div style="width: 100%; display: flex; justify-content: right; margin-bottom: 20px;">
    <form method="post" asp-controller="Orders" asp-action="Buy">
        <input type="hidden" name="TotalAmount" id="hiddenTotalAmount" value="0" />
        <span class="text-danger">@Html.ValidationMessage("Error")</span>
        <button type="submit">Order</button>
    </form>
    <button id="btnPrint">Print PDF</button>
</div>

<script>
    document.getElementById('btnPrint').addEventListener('click', function () {
        var pdfUrl = '/Orders/GeneratePdf';
        var form = document.createElement('form');
        form.setAttribute('method', 'post');
        form.setAttribute('action', pdfUrl);
        document.body.appendChild(form);
        form.submit();
        document.body.removeChild(form);
    });

</script>